/* Custom Stylesheet */
/**
 * Use this file to override Materialize files so you can update
 * the core Materialize files in the future
 *
 * Made By MaterializeCSS.com
 */

#footerID {
    color: white;
    background-color: rgba(0,0,0,.9);
}


blockquote{
margin:30px;
}

.btn, .btn-large {
  display : inline-block;
  cursor : pointer;
  border-style : solid;
  border-width : 1px;
  border-radius : 5px;
  height: 30px;
/*  border-color : black;*/
  padding: 0px 10px 30px;
  background: rgba(0,0,0,3);
  background: -moz-linear-gradient(top, black 0%, black 100%);
  background: -webkit-gradient(linear, left top, left bottom, 
    color-stop(0%,black), color-stop(100%,black));
  background: -webkit-linear-gradient(top, black 0%,black 100%);
  background: -o-linear-gradient(top, black 0%,black 100%);
  background: -ms-linear-gradient(top, black 0%,black 100%);
  background: linear-gradient(top, black 0%,black 100%);
  filter: progid:DXImageTransform.Microsoft.gradient( 
    startColorstr='black', endColorstr='black',GradientType=0 );
}

  .btn:hover, .btn-large:hover {
    color: gray;
    background-color: #eeeeee; }


nav ul a,
nav .brand-logo {
  color: #444;
}


a {
    color: white;
}
a:hover {
    color: white;
}
#high{
  background-color: rgba(0, 0, 0, .2);
}
p {
  padding-left: 10px; 
  line-height: 2rem;


}

.button-collapse {
  color: #26a69a;
}

.parallax-container {
  min-height: 200px;
  line-height: 0;
  height: auto;
  color: rgba(255,255,255,.9);
}
  .parallax-container .section {
    width: 100%;
    position: inherit !important;
  }


@media only screen and (max-width : 992px) {


  .parallax-container .section {
    position: absolute;
    top: 40%;
  }
  #index-banner .section {
    top: 10%;
  }
}

@media only screen and (max-width : 600px) {

  #index-banner .section {
    top: 0;
  }
}


.icon-block {
  padding: 0 15px;
}

footer.page-footer {
  margin: 0;
}

.profile-photo {
  display: block;
  max-width: 155px;
  margin: 0 auto 0px;
  margin-bottom: 20px;
  border-radius: 100%;

}

.lightspeed-logo {
 margin-top: 30px;
  max-width: 70px;
  margin-bottom: 0px;

}

.xerox-logo {
 margin-top: 30px;
  max-width: 160px;
  margin-bottom: 0px;

}

.mybigcampus-logo {
max-width: 65px;
padding: 0;
margin-top: 0;

}

.mdm-logo{
  max-width: 65px;

}

.rocket-logo{

  max-width: 65px;

}

.fif-logo{
  max-width: 70px;
}


.title-date{  
  padding: 0px 10px 0px 10px;
  background-color: rgba(0, 0, 0, .4);

}